src/batch_process/batch_sync_mysql/repositories/__pycache__
src/batch_process/batch_sync_mysql/services/__pycache__
.git/logs
iac/config/superset/superset/reports/logs
src/batch_process/batch_sync_mysql/controllers/__pycache__
src/kafka/sink_redis/logs
tmp/kafka/kafka-docker-composer/docker-generator/__pycache__
src/kafka/sink_mysql/services/__pycache__
src/airflow/logs
src/kafka/sink_redis/services/__pycache__
tmp/kafka/kafka-docker-composer/.git/logs
src/batch_process/batch_sync_mysql/logs
iac/config/superset/.git/logs
src/batch_process/batch_sync_mysql/utils/__pycache__
iac/config/superset/docker/pythonpath_dev/__pycache__
src/kafka/sink_mysql/logs
src/batch_process/move_cache_to_minio/logs
src/batch_process/move_cache_to_minio/services/__pycache__
src/airflow/dags/__pycache__
tmp/
src/logs
src/cube/logs